.scrollable {
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 80%;
    height: 550px;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

thead {
    position: sticky; top: 0;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #e9fcff;
    height: 50px;
}

table tr {
    border-bottom: 1px solid #ccc;
    width: 100%;
}

thead th {
    padding-left: 20px !important;
}

tbody td{
    padding-left: 20px !important;
}



.note{
    width: 80%;
}
.action{
    width: 20%;
}

