.sidebar-container{
    border-top-right-radius: 50px;
    /*box-shadow: 15px 15px black;*/
    background-color: #0C2480;
    height: 100%;
    width: 100%;
}

.items{
    align-content: center;
    vertical-align: center;
    horiz-align: center;
}