.sidebar-container {
    border-top-right-radius: 50px;
    background-color: #0C2480;
    height: 100%;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.5), 0px -5px 10px 5px rgba(0, 0, 0, 0.2);
}

.items_group{
    align-content: center;
    vertical-align: center;
    horiz-align: center;
}

.item{
    position: relative;
    color: #E0E4F2;
    font-family: 'Poppins-Regular';
    padding-left: 50px;
    margin-bottom: 20px;
}

.item:hover{
    color: #92A9FF;
}

.item.active {
    color: #E0E4F2;
    font-family: 'Poppins-SemiBold';
}

.rectangle {
    width: 8px;
    height: 100%;
    background-color: #D9D9D9;
    border-radius: 20px;
    position: absolute;
    left: -3px;
    top: 0;
    display: none;
}

a.active .rectangle {
    display: block;
}
