.title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100%;
}

.title {
    color: #1E1F54;
    font-size: 46px;
    font-family: 'Poppins-SemiBold', serif;
    margin-right: auto;
}

.add_note_button {
    background-color: #0C2480;
    border-color: #0C2480;
    border-radius: 8px;
    color: #fff;
    padding: 8px;
    font-size: 16px;
    font-family: 'Poppins-SemiBold', serif;
    margin-left: auto;
}
