<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Security-Policy" content="script-src 'self'" />
  <title>QuicklyNote</title>
</head>
<body>
    <div id ="root"></div>
    <script src="../../build/js/app.js"></script>

<!--<div class="main-container">
        <table>
            <thead>
            <tr>
                <th class="note">Note</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Enregistrement 1</td>
                <td>Action 1</td>
            </tr>
            <tr>
                <td>Enregistrement 2</td>
                <td>Action 2</td>
            </tr>
            <tr>
                <td>Enregistrement 3</td>
                <td>Action 3</td>
            </tr>
            </tbody>
        </table>

    </div>-->

</body>
</html>