table {
    position: fixed;
    width: 500px;
    border-collapse: collapse;
}

thead {
    background-color: lightblue;
}

th {
    text-align: left;
    padding: 12px;
}

th.note {
    width: 80%;
}

tbody tr {
    border-bottom: 1px solid lightgray;
}

tbody td {
    padding: 12px;
}

tbody td:first-child {
    padding-left: 15px;
}

tbody td:last-child {
    padding-right: 15px;
}